# make sure to publish the scoped package as a public one
# https://docs.npmjs.com/cli/v6/using-npm/config#access
access=public

# we do not apply a prefix to our version tags
# https://docs.npmjs.com/cli/v6/using-npm/config#tag-version-prefix
tag-version-prefix=""

# pin versions when installing, to avoid extra PR by renovate
# https://docs.npmjs.com/cli/v6/using-npm/config#save-exact
save-exact=true
