# This workflow will run the examples provided in the examples folder
name: examples

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  nodejs:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version:
        - 10
        - 12
        - 14
        - 16
        - 18
        - 20

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@1b05615854632b887b69ae1be8cbefe72d3ae423 # v2.6.0
      with:
        egress-policy: audit

    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
      working-directory: examples/nodejs
    - run: npm run test
      working-directory: examples/nodejs
  typescript-node-es6:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        ts-version:
        - 3
        - 4
        - "5.0" # requires node version 12.20
        # starting with typescript 5.1 the minimum required node version is 14.17
        # so current versions have a separate job without node v12
        node-version:
        - 12
        - 14
        - 16
        - 18
        - 20

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@1b05615854632b887b69ae1be8cbefe72d3ae423 # v2.6.0
      with:
        egress-policy: audit

    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1
      with:
        node-version: ${{ matrix.node-version }}
    - run: ./pretest.sh ${{ matrix.ts-version }}
      working-directory: examples/typescript-node-es6
    - run: node --experimental-modules dist/index.js
      if: ${{ matrix.node-version == 12 }}
      working-directory: examples/typescript-node-es6
    - run: node dist/index.js
      if: ${{ matrix.node-version > 12 }}
      working-directory: examples/typescript-node-es6
  typescript51-node-es6:
    # starting with typescript 5.1 the minimum required node version is 14.17

    runs-on: ubuntu-latest

    strategy:
      matrix:
        ts-version:
        - 5
        node-version:
        - 14
        - 16
        - 18
        - 20

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@1b05615854632b887b69ae1be8cbefe72d3ae423 # v2.6.0
      with:
        egress-policy: audit

    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1
      with:
        node-version: ${{ matrix.node-version }}
    - run: ./pretest.sh ${{ matrix.ts-version }}
      working-directory: examples/typescript-node-es6
    - run: node dist/index.js
      working-directory: examples/typescript-node-es6
